# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Job history (opsiyonel - GitHub'a yüklemek istersen kaldır)
# jobs_history/
